<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IMM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 
 	<listener>
		<listener-class>
			org.apache.axis.transport.http.AxisHTTPSessionListener
		</listener-class>
	</listener>
  
	<!-- SERVICIOS AXIS  -->
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>
			org.apache.axis.transport.http.AxisServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<!-- SERVICIOS AXIS  -->
  
  <servlet>
    <servlet-name>ws</servlet-name>
    <servlet-class>com.imm.Ws</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ws</servlet-name>
    <url-pattern>/Ws</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestDB</display-name>
    <servlet-name>TestDB</servlet-name>
    <servlet-class>test.TestDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDB</servlet-name>
    <url-pattern>/TestDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestLogin</display-name>
    <servlet-name>TestLogin</servlet-name>
    <servlet-class>test.TestLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestLogin</servlet-name>
    <url-pattern>/TestLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestVentaTicket</display-name>
    <servlet-name>TestVentaTicket</servlet-name>
    <servlet-class>test.TestVentaTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestVentaTicket</servlet-name>
    <url-pattern>/TestVentaTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>org.jboss.samples.webservices.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
</web-app>